
#copy{
  text-align: center;
  padding: 5px;
  background: var(--gray-dark);
  color: var(--light);
  font-size: 12px;
}

#copy p{
  margin: 0;
}

#copy a{
  color: var(--light);
  text-decoration: underline;
}