#footer {
    /* margin: 50px 0; */
    padding: 25px 0;
    background: var(--light);
}

#footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 776px){
    #footer .container{
        flex-flow: column;
    }
}

#footer a{
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media(max-width: 776px){
    #footer a{
        font-size: 18px;
        margin: 10px 0;
    }
}

#footer svg{
    width: 32px;
    fill: var(--red);
    margin-right: 10px;
}

@media(max-width: 776px){
    #footer svg{
        width: 20px;
    }
}

#footer a:nth-child(2){
    color: var(--green);
}

#footer a:nth-child(3){
    color: var(--blue);
}

#footer a:nth-child(4){
    color: var(--gray-dark);
}

#footer a:nth-child(5){
    color: var(--blue-dark);
}

#footer a:nth-child(2) svg{
    fill: var(--green);
}

#footer a:nth-child(3) svg{
    fill: var(--blue);
}

#footer a:nth-child(4) svg{
    fill: var(--gray-dark);
}

#footer a:nth-child(5) svg{
    fill: var(--blue-dark);
}