@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light: ivory;
    --white: #fff;
    --gray-dark: #343a40;
    --gray-light: #a7a7a7;
    --blue: #0da3fb;
    --blue-dark: #0f3460;
    --green: #2ca46d;
    --red: #f54291;
    --yellow: #ffcc00;
}

*,
 ::after,
 ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


/* верхня розпорка */
.spacer {
    height: 80px;
    background: var(--blue);
}


/* основна шпальта */
.container {
    width: 1200px;
    margin: auto;
}

@media(max-width: 1240px) {
    .container {
        width: 95%;
    }
}

img {
    max-width: 100%;
    border-radius: 6px;
}

h1 {
    font-size: 38px;
    margin: 0 0 30px;
    font-weight: 600;
}
/* h2 {
    font-size: 32px;
    margin: 0 0 30px;
}

h3 {
    font-size: 26px;
    margin: 0 0 30px;
}

h4 {
    font-size: 22px;
    margin: 0 0 30px;
}

h5 {
    font-size: 18px;
    margin: 0 0 30px;
} */

p {
    margin: 0 0 30px;
    line-height: 1.85;
}


/* заголовки */

.title {
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}


/* короткий опис */

.lead {
    width: 60%;
    margin: auto auto 30px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

@media(max-width: 776px) {
    .lead {
        width: 95%;
    }
}

:-moz-placeholder {
    font-size: 12px;
    color: var(--dark);
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    font-size: 12px;
    color: var(--dark);
    text-transform: uppercase;
}

::placeholder {
    font-size: 12px;
    color: var(--dark);
    text-transform: uppercase;
}

/* edit button */

.edit {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
}